<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.11.8</MSDeployServiceURL>
    <DeployIisAppPath>ssbi-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>hoangtiendat</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=True" Name="Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Pentamic.SSBI.Models.DataModel.DataModelContext, Pentamic.SSBI" MigrationConfiguration="Pentamic.SSBI.Migrations.DataModelContext.Configuration, Pentamic.SSBI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AnalysisServiceConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AnalysisServiceConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AnalysisServiceConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataModelConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ReportingConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataModelConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ReportingConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataModelConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ReportingConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=SSBI_APP;Integrated Security=true</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>