<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>Name</td>
            </tr>
            <tr><td>@Model.Name</td></tr>
        </table>
    </div>
</body>
</html>
